<template>
  <q-dialog ref="dialogRef" persistent max-width="500px">
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="content_cut" text-color="white" />
        <span class="q-ml-sm">Are you sure you want to cut {{ selectedLines.length }} lines?</span>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Keep Lines" @click="onDialogCancel" />
        <q-btn color="negative" label="Cut Lines" @click="onDialogOK" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar'

const { dialogRef, onDialogOK, onDialogCancel } = useDialogPluginComponent()

defineProps({
  selectedLines: {
    type: Array,
    required: true
  }
});

</script>
