<template>
  <q-dialog ref="dialogRef" persistent max-width="500px">
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="delete" color="negative" text-color="white" />
        <span class="q-ml-sm">Are you sure you want to delete this log?</span>
      </q-card-section>
      <q-card-section>
        <q-checkbox v-model="iAmSure" label="Yes, I am sure." />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Keep Log" @click="onDialogCancel" />
        <q-btn color="negative" label="Delete Log" @click="deleteLog()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar'
import { ref } from 'vue'

const { dialogRef, onDialogOK, onDialogCancel } = useDialogPluginComponent()

const iAmSure = ref<boolean>(false);

defineEmits([
  ...useDialogPluginComponent.emits
])

function deleteLog() {
  if (iAmSure.value) {
    onDialogOK();
  }
}

</script>
