<template>
  <q-dialog ref="dialogRef" persistent backdrop-filter="blur(4px)">
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">Name for Log</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input dense v-model="newLogName" autofocus @keyup.enter="onClickOK" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup @click="onDialogCancel" />
        <q-btn flat label="OK" v-close-popup @click="onClickOK" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar'
import { ref } from 'vue'

const { dialogRef, onDialogOK, onDialogCancel } = useDialogPluginComponent()

const props = defineProps({
  name: {
    type: String,
    required: true
  }
});

const newLogName = ref<string>(props.name);

function onClickOK() {
  onDialogOK(newLogName);
}

</script>
