<template>
  <q-icon v-if="log.cloudVersion == log.version" name="cloud_done" style="color: green" size="xs"><q-tooltip>Cloud
      Version is Up-To-Date.</q-tooltip></q-icon>
  <q-icon v-else-if="log.cloudVersion >= 0" name="cloud_upload" style="color: red" @click="emit('upload', log)"
    size="xs"><q-tooltip>Cloud Version is outdated.</q-tooltip></q-icon>
  <q-icon v-else name="cloud_upload" @click="emit('upload', log)" size="xs"><q-tooltip>Upload log to
      cloud.</q-tooltip></q-icon>
</template>

<script setup lang="ts">
import { Log } from 'src/stores/LogsStore';

const { log } = defineProps<{
  log: Log,
}>();

const emit = defineEmits<{
  upload: [log: Log]
}>()

</script>
