<template>
  <q-expansion-item>
    <template v-slot:header>
      <q-item-section avatar>
        <q-icon name="receipt_long" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Logs</q-item-label>
      </q-item-section>
      <q-item-section side>
        <q-icon name="add_circle_outline" @click.stop="addNewLog = true">
          <q-tooltip>Add new log</q-tooltip>
        </q-icon>
      </q-item-section>
    </template>
    <q-list dense class="q-pl-md">
      <q-item v-for="log in logs" :key="log.id" class="q-my-sm" bordered>
        <q-toggle v-model="log.recording" size="xs" inline dense>
          <div @click.stop="viewLog(log)">
            {{ log.name }}
            <q-item-label caption>{{ log.lines.length }} lines</q-item-label>
          </div>
        </q-toggle>

        <q-item-section></q-item-section>
        <q-item-section side class="q-m-sm">
          <LogCloudIcon v-if="cloudKey" :log="log" @upload="uploadLog(log)" />
        </q-item-section>
        <!--q-item-section side class="q-m-sm">
          <q-icon name="download" size="xs" clickable @click="downloadLog(log)"></q-icon>
        </q-item-section-->
        <!--q-item-section side>
          <q-icon name="delete" size="xs" clickable @click="deleteLog(log)"></q-icon>
        </q-item-section-->
        <!--q-item-section side>
          <q-icon name="visibility" size="xs" clickable @click="viewLog(log)"></q-icon>
        </q-item-section-->
      </q-item>
    </q-list>
  </q-expansion-item>
  <q-dialog v-model="addNewLog" persistent backdrop-filter="blur(4px)">
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">Name for new Log</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input dense v-model="newLogName" autofocus @keyup.enter="addLog()" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup @click="newLogName = ''" />
        <q-btn flat label="Add log" v-close-popup @click="addLog" />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <LogViewer ref="logViewer" @download="(log) => downloadLog(log)" @delete="(log) => deleteLog(log)" />
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { api } from 'src/boot/axios';
import { Log, useLogStore } from 'src/stores/LogsStore';
import { useMushStateStore } from 'src/stores/MushStateStore';
import { ref, watch } from 'vue';

import LogViewer from './LogViewer.vue';
import LogCloudIcon from './LogCloudIcon.vue';

const logStore = useLogStore();

const { logs } = storeToRefs(logStore);

const { cloudKey } = storeToRefs(useMushStateStore())

const logViewer = ref<typeof LogViewer>();
const addNewLog = ref<boolean>(false);
const newLogName = ref<string>('');

function addLog() {
  addNewLog.value = false;
  if (newLogName.value) {
    logStore.createLog(newLogName.value);
    newLogName.value = '';
  }
}

function viewLog(log: Log): boolean {
  logViewer.value?.showLog(log)
  return true;
}

function uploadLog(log: Log) {
  const version = log.version;
  api.put('/logs/' + cloudKey.value + '/' + log.id, log).then(() => { log.cloudVersion = version; });
}

function downloadLog(log: Log) {
  const fileName = log.name + '.txt';
  const blob = new Blob(log.lines.map(m => m + '\r\n'), { type: 'text/html' });
  const url = URL.createObjectURL(blob);
  const a = document.createElement('a');
  a.href = url;
  a.download = fileName;
  a.click();
}

function deleteLog(log: Log) {
  logStore.deleteLog(log.id);
  if (log.cloudVersion >= 0) {
    api.delete('/logs/' + cloudKey.value + '/' + log.id);
  }
}


watch(cloudKey, async (key) => {
  if (key) {
    for (const log of logStore.logs) {
      log.cloudVersion = -1;
    }

    const response = await api.get('/logs/' + key + '/');

    for (const thisKey of response.data) {
      const thisLogResponse = await api.get('/logs/' + key + '/' + thisKey);

      const rawData = thisLogResponse.data;
      rawData.recording = false;

      const thisLog = new Log(rawData);
      const oldLog = logs.value.find((l) => l.id === thisKey);

      if (oldLog) {
        if (oldLog.version < thisLog.version) {
          oldLog.cloudVersion = oldLog.version = thisLog.version;
          oldLog.name = thisLog.name;
          oldLog.lines = thisLog.lines;
          oldLog.filter = thisLog.filter;
        }
        else {
          oldLog.cloudVersion = thisLog.version;
        }
      }
      else {
        thisLog.cloudVersion = thisLog.version;
        logStore.addLog(thisLog);
      }
    }
  }
});



</script>
