<template>
  <q-dialog v-if="activelog" v-model="basic" transition-show="fadeIn" transition-hide="fadeOut" style="width: 90ch">
    <q-card style="max-width: 80vh">
      <q-bar>
        <div class="text-h6">{{ activelog.name }}</div>
        <q-space />
        <q-btn icon="settings" label="Rename" @click="showRenameDialog()"></q-btn>
        <q-btn-dropdown icon="tune" label="Filters">
          <q-list dense>
            <q-item>
              <q-toggle v-model="activelog.filter.pages" size="xs" label="Pages" />
            </q-item>
            <q-item>
              <q-toggle v-model="activelog.filter.ooc" size="xs" label="OOC Messages" />
            </q-item>
            <q-item>
              <q-toggle v-model="activelog.filter.info" size="xs" label="Info Screens" />
            </q-item>
            <q-item>
              <q-toggle v-model="activelog.filter.notifications" size="xs" label="Game Notifications" />
            </q-item>
            <q-item>
              <q-toggle v-model="activelog.filter.channels" size="xs" label="Channels" />
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <q-btn icon="close" flat round dense v-close-popup />
      </q-bar>

      <q-card-section class="terminal background-gray">
        <div id="terminal-inner">
          <q-scroll-area dark style="height: 100%; max-width: 100%;" ref="scrollArea">
            <div v-for="(line, index) in activelog?.lines" :style="lineStyle(index)" :key="index" class="line"
              @click="toggleLine(index)">{{ line
              }}</div>
            <div ref="bottom"></div>
          </q-scroll-area>
        </div>
      </q-card-section>

      <q-card-actions>
        <q-btn size="sm" label="Delete" color="negative" icon="delete" @click="deleteLog" />
        <q-btn size="sm" label="Copy" icon="content_copy" @click="copyLog" />
        <q-space />
        <q-btn size="sm" label="Cut" icon="content_cut" @click="cutLines" />
        <q-btn size="sm" label="Download" icon="download" @click="emit('download', activelog)" />
        <q-btn v-if="state === ConnectionState.CONNECTED" size="sm" label="Repose Lines" icon="play_arrow"
          @click="reposeLines" />
      </q-card-actions>
    </q-card>
  </q-dialog>

</template>

<script setup lang="ts">
import ConfirmDeleteDialog from './dialogs/ConfirmDeleteDialog.vue'
import ConfirmCutDialog from './dialogs/ConfirmCutDialog.vue'
import LogNameDialog from './dialogs/LogNameDialog.vue'

import { storeToRefs } from 'pinia';
import { ConnectionState } from 'src/interfaces/Types';
import connection from 'src/services/Connection';
import { Log, useLogStore } from 'src/stores/LogsStore';
import { useMushStateStore } from 'src/stores/MushStateStore';
import { reactive, ref } from 'vue';
import { useQuasar } from 'quasar';

const $q = useQuasar();

const { state } = storeToRefs(useMushStateStore());

const logStore = useLogStore();

const activelog = ref<Log | undefined>();

const selectedLines = reactive<number[]>([]);

const basic = ref<boolean>(false);

const lastLine = ref<number | undefined>(undefined);

function toggleLine(index: number) {
  lastLine.value = index;
  const indexInArray = selectedLines.indexOf(index);
  if (indexInArray === -1) {
    selectedLines.push(index);
  } else {
    selectedLines.splice(indexInArray, 1);
  }
}

function isSelectedLine(index: number) {
  return selectedLines.indexOf(index) !== -1;
}

function lineStyle(index: number) {
  if (isSelectedLine(index)) {
    return 'background-color: #006'
  }
  else {
    return '';
  }
}


function cutLines() {
  $q.dialog({
    component: ConfirmCutDialog,
    componentProps: {
      selectedLines: selectedLines
    }
  }).onOk(deleteLines);
}

function deleteLines() {
  if (!activelog.value) return;

  activelog.value.lines = activelog.value.lines.filter((line, index) => !isSelectedLine(index));
  selectedLines.splice(0);

  activelog.value.version++;
}

function reposeLines() {
  if (!activelog.value) return;
  const lines = selectedLines.sort();
  lines.forEach(line => {
    const translatedLine = activelog.value?.lines[line].replaceAll(' ', '%b');
    connection.sendMessage('@emit ' + translatedLine);
  });
  selectedLines.splice(0);
}


function showLog(log: Log) {
  selectedLines.splice(0);
  activelog.value = log;
  basic.value = true;
}


function deleteLog() {
  $q.dialog({
    component: ConfirmDeleteDialog,
    componentProps: {}
  }).onOk(() => {
    if (activelog.value) {
      emit('delete', activelog.value);
      activelog.value = undefined;
    }
  });
}

function copyLog() {
  if (activelog.value) {
    const copy = logStore.copyLog(activelog.value);
    activelog.value = copy;
  }
}

function showRenameDialog() {
  if (activelog.value) {
    $q.dialog({
      component: LogNameDialog,
      componentProps: {
        name: activelog.value.name
      }
    }).onOk((data) => {
      if (activelog.value) {
        activelog.value.name = data;
        activelog.value.version++;
      }
    });
  }
}


const emit = defineEmits<{
  download: [log: Log],
  delete: [log: Log]
}>()

defineExpose({
  showLog,
});


</script>

<style scoped>
.line {
  font-family: monospace;
  width: 81ch;
  font-size: 9pt;
  white-space: pre-wrap;
}


.terminal-wrapper {
  margin: 10px;
  flex: 1;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

.terminal {
  width: 85ch;
  height: 70vh;
  font-size: 9pt;
  margin: 0;
  flex: 1;
  position: relative;
  font-family: monospace;
  padding: 3px;
}

@media (max-width: 575.98px) {
  .terminal {
    font-size: 6pt;
  }
}

#terminal-inner {
  position: absolute;
  top: 5px;
  left: 1ch;
  bottom: 5px;
  width: 83ch;
  padding: 5px;
}
</style>
