<template>
  <q-card class="terminal-wrapper">
    <div class="terminal">
      <div id="terminal-inner">
        <q-scroll-area dark style="height: 100%; max-width: 100%; padding-right: 1ch;" ref="scrollArea">
          <TerminalLine v-for="(line, index) in lines" :key="index" :line="line"
            :class="{ active: isActive(line.origin) }" />
          <div ref="bottom"></div>
        </q-scroll-area>
      </div>
    </div>
    <StatusBar @connect="connect" :connected="connected" :user-name="userName" />
    <textarea ref="inputRef" class="input" v-model="inputLine" v-on:keydown.enter.prevent="sendInputLine"
      v-on:keydown.page-up="pageUp" v-on:keydown.page-down="pageDown" v-on:keydown="onKeyDown"></textarea>
    <textarea ref="hiddenRef" class="hidden-input" v-model="inputLine" readonly></textarea>
  </q-card>
</template>

<script setup lang="ts">
import { Message } from 'src/interfaces/Types';
import StatusBar from '../StatusBar.vue';
import TerminalLine from './TerminalLine.vue';

import { computed, nextTick, ref, watch } from 'vue';
import { onStartTyping } from 'src/services/onStartType';
import { useTitle, useIdle, useDocumentVisibility } from '@vueuse/core'

import { useMushStateStore } from 'src/stores/MushStateStore';
import { useHistoryStore } from 'src/stores/history';
import { useLogStore } from 'src/stores/LogsStore';

import { storeToRefs } from 'pinia';
import { QScrollArea } from 'quasar';

import { ConnectionState } from 'src/interfaces/Types';
import connection from 'src/services/Connection';
import processor from 'src/services/messageProcessor';
import { processDenvueMessage } from 'src/services/messageProcessor';

const lines = ref<Message[]>([]);

const bottom = ref<HTMLDivElement>();
const scrollArea = ref<QScrollArea>();
const inputRef = ref<HTMLTextAreaElement>();
const hiddenRef = ref<HTMLTextAreaElement>();

const historyStore = useHistoryStore();
const stateStore = useMushStateStore();
const logStore = useLogStore();

const connected = ref<boolean>(false);

const historyOffset = ref<number>(0);

let lastHeight = 0;

const { inputLine, state, userName, activePlayer, lastActivePlayer, playerNameMap } = storeToRefs(stateStore);

const lastActivePlayerName = computed(() => {
  if (!lastActivePlayer.value || !playerNameMap.value) {
    return undefined;
  }
  const playerName = playerNameMap.value.get(lastActivePlayer.value);
  if (!playerName) {
    console.log('Refreshing id to name cache');
    connection.sendMessage('+denvue/playernames');
  }
  return playerName;
});


function focusInput() {
  if (inputRef.value) {
    inputRef.value.focus();
  }
}


watch(inputLine, focusInput);
onStartTyping(focusInput);

const { idle } = useIdle();
const visibility = useDocumentVisibility();

watch([idle, visibility], ([idleValue, visibilityValue]) => {
  if (!idleValue || (visibilityValue === 'visible')) {
    useTitle('DenVUE');
  }
})


watch(lastActivePlayerName, (newValue, oldValue) => {
  if (newValue !== oldValue) {
    if (idle.value || (visibility.value === 'hidden')) {
      if (newValue) {
        useTitle(newValue + ' on DenVUE');
      }
      else {
        useTitle('DenVUE');
      }
    }
  }
});

watch([inputLine, hiddenRef], () => nextTick(adjustInputHeight));

function isActive(id: string | undefined): boolean {
  if (id) {
    return id === activePlayer.value;
  }
  else {
    return false;
  }
}

function adjustInputHeight() {
  if (!hiddenRef.value || !inputRef.value || !scrollArea.value) {
    return;
  }

  const hiddenHeight = hiddenRef.value.scrollHeight;
  if (lastHeight == 0) {
    lastHeight = hiddenRef.value.scrollHeight;
  }

  const offset = hiddenHeight - lastHeight;

  if (offset != 0) {
    lastHeight = hiddenHeight;
    nextTick(() => { scrollDownBy(offset); });
  }

  inputRef.value.style.height = hiddenHeight + 'px';


}

function sendInputLine() {
  connection.sendMessage(inputLine.value);
  historyStore.addToHistory(inputLine.value);
  inputLine.value = '';
  historyOffset.value = -1;
  lastActivePlayer.value = undefined;
}

function scrollDownBy(amount: number, delay?: number) {
  scrollArea.value?.setScrollPosition('vertical', scrollArea.value.getScrollPosition().top + amount, delay);
}

function pageUp() {
  if (scrollArea.value) {
    scrollDownBy(-(scrollArea.value.getScroll().verticalContainerSize * 0.9), 100);
  }
}

function pageDown() {
  if (scrollArea.value) {
    scrollDownBy((scrollArea.value.getScroll().verticalContainerSize * 0.9), 100);
  }
}


let lastTypingTimestamp = 0;

function onKeyDown(e: KeyboardEvent): boolean {
  updateTypingMessage();
  if (e.ctrlKey && e.key === 'ArrowUp') {
    const index = historyStore.commands.length - 1;
    if (historyOffset.value < index) {
      historyOffset.value++;
    }
    inputLine.value = historyStore.commands[historyOffset.value]
    return false;
  }

  if (e.ctrlKey && e.key === 'ArrowDown') {
    if (historyOffset.value > 0) {
      historyOffset.value--;
      inputLine.value = historyStore.commands[historyOffset.value]
    }
    else {
      historyOffset.value = 0;
      inputLine.value = '';
    }
    return false;
  }

  return true;
}

function updateTypingMessage() {
  if (!stateStore.userId) {
    return;
  }

  const now = new Date().getTime() / 1000;
  if (lastTypingTimestamp + 9 < now) {
    lastTypingTimestamp = now;
    connection.sendP2PMessage('typing:' + stateStore.userId);
  }
}

function connect() {
  connection.onConnect = () => {
    stateStore.setState(ConnectionState.CONNECTING);
    connected.value = true;
  };

  connection.onDisconnect = () => {
    stateStore.setState(ConnectionState.DISCONNECTED);
    connected.value = false;
  };

  connection.onMessage = (message: string) => {
    const messageLines = processor.processMessage(message);
    for (const thisLine of messageLines) {
      lines.value.push(thisLine);
      logStore.addToLogs(thisLine);
    }
    nextTick(() => {
      bottom.value?.scrollIntoView();
    });
  }

  connection.onP2PMessage = (message: string) => {
    processDenvueMessage(message);
  }

  connection.connect();
}

watch(state, (newState) => {
  if (newState === ConnectionState.CONNECTED) {
    initialize();
  }
  lastActivePlayer.value = undefined;
});

function initialize() {
  connection.sendMessage('+denvue/activate');
  connection.sendMessage('@adisconnect me=+denvue/deactivate');
  connection.sendMessage('think DENVUE:who-am-i:%#|%n|[u(ICPIC)]|[u(DENVUE.CLOUDKEY)]');
  connection.sendMessage('+denvue/scan');
}

</script>

<style scoped>
.terminal-wrapper {
  margin: 10px;
  flex: 1;
  background-color: #222;
  display: flex;
  flex-direction: column;
  font-size: 9pt;
}

@media (max-width: 575.98px) {
  .terminal-wrapper {
    font-size: 6pt;
  }
}

.terminal {
  width: 85ch;
  height: 100px;
  margin: 0;
  flex: 1;
  position: relative;
  font-family: Consolas, monospace;
  padding: 3px;
}


#terminal-inner {
  position: absolute;
  top: 5px;
  left: 1ch;
  bottom: 5px;
  width: 82ch;
  padding: 5px;
  padding-right: 0px;
}

textarea {
  overflow: hidden;

  margin: 0;
  background-color: #222;
  color: white;

  border: none;
  outline: none;
  font-family: Consolas, monospace;
  line-height: 1.0;
  width: 83ch;
  padding: 2ch;
  resize: none;
}

.hidden-input {
  /* position so it's hidden behind other content */
  position: absolute;
  top: 5px;
  left: 5px;
  height: 1px !important;
  background-color: transparent;
  z-index: -3;
  width: 83ch;
  padding: 2ch;
}

.active {
  background-color: #444;
}
</style>
