<template>
  <div class="line" :class="line.messageClass">
    <q-tooltip anchor="center left" self="center right">{{ line.timestamp }}</q-tooltip>
    <img referrerpolicy="no-referrer" class="inline-picture" v-if="line.picture" :src="line.picture" />
    <div class="text" v-if="line.text" v-html="line.text"></div>
    <div class="text" v-if="isSpacingLine">&nbsp;</div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { Message } from 'src/interfaces/Types';

const { line } = defineProps<{
  line: Message
}>();

const isSpacingLine = computed(() => {
  return !line.text && !line.picture;
});

</script>

<style>
.active {
  background-color: #555;
}

.line {
  color: #ccc;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 120%;
  text-indent: 1em hanging each-line;
}



.timestamp {
  display: table-cell;
  font-size-adjust: 0.4;
  padding: 0 5pt 0 5pt;
}

.inline-picture {
  height: 13.8em;
  max-width: 20em;
  float: right;
  margin-top: 2.5ch;
  margin-left: 1ch;
  margin-bottom: 0.5ch;
  margin-right: 1ch;
}

.line a {
  color: #7f7;
  text-decoration: none;
}

.ansi-bold {
  color: #fff
}

.ansi-black-fg {
  color: #0000
}

.ansi-black-fg.ansi-bold {
  color: #777
}

.ansi-red-fg {
  color: #c11
}

.ansi-red-fg.ansi-bold {
  color: #e55
}

.ansi-green-fg {
  color: #1c1
}

.ansi-green-fg.ansi-bold {
  color: #5e5
}

.ansi-blue-fg {
  color: #11e
}

.ansi-blue-fg.ansi-bold {
  color: #55e
}

.ansi-yellow-fg.ansi-bold {
  color: #ff5;
}

.ansi-yellow-fg {
  color: #cc0
}

.ansi-magenta-fg {
  color: #c0c
}

.ansi-magenta-fg.ansi-bold {
  color: #f5f
}

.ansi-cyan-fg {
  color: #0cc
}

.ansi-cyan-fg.ansi-bold {
  color: #5ff
}
</style>
