<template>
  <q-page class="flex flex-center">
    <TerminalWindow></TerminalWindow>
  </q-page>
</template>

<script setup>
import TerminalWindow from 'src/components/terminal/TerminalWindow.vue';

defineOptions({
  name: 'IndexPage'
});
</script>

<style>
.flex {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  flex-direction: column;
}
</style>
