<template>
  <q-expansion-item icon="construction" label="ChangeLog">
    <q-list dense class="q-pl-md">
      <q-item v-for="change in listChanges()" :key="change.date" class="q-my-sm">
        <q-item-section side>
          <q-item-label caption>
            {{ change.date }}:
          </q-item-label>
          <q-item-label caption>
            {{ change.description }}
          </q-item-label>

        </q-item-section>
      </q-item>
    </q-list>
  </q-expansion-item>
</template>


<script setup lang="ts">

const changes = [
  {
    date: '2024-07-16',
    description: 'When NOSPOOF is active, last active player will be displayed in window title'
  },
  {
    date: '2024-07-07',
    description: 'Messages and poses of individual players can be highlighted if NOSPOOF is on'
  },
  {
    date: '2024-05-26',
    description: 'Input area now automatically resizes'
  },
  {
    date: '2024-05-26',
    description: 'Input area line width now matches output line width'
  },
  {
    date: '2024-05-24',
    description: 'Tweaks to Log viewer layout'
  },
  {
    date: '2024-05-22',
    description: 'Log recording can now be filtered.'
  },
  {
    date: '2024-05-22',
    description: 'Fixed swallowing of trigger lines'
  },
  {
    date: '2024-05-22',
    description: 'Tweaked color scheme, Fixed ANSI coloring'
  },
  {
    date: '2024-05-21',
    description: 'Fixed URL regex, added Changelog'
  }
]

function listChanges() {
  return changes;
}

</script>
