<template>
  <q-expansion-item icon="history" label="Command History" :caption="commandsCount">
    <q-card>
      <q-card-section>
        <q-virtual-scroll rev="virtualListRef" class="q-pl-md" style="max-height: 300px;" :items="commands" separator
          v-slot="item : { item: string }" v-if="historyStore.commands.length > 0">
          <q-item dense clickable class="item" @click="stateStore.setInputLine(item.item)">
            <q-item-section side>
              {{ item.item }}
            </q-item-section>
          </q-item>
        </q-virtual-scroll>
        <div v-else>
          <q-item dense>
            <q-item-section side>
              No history
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>
    </q-card>
  </q-expansion-item>
</template>

<script setup lang="ts">
import { useHistoryStore } from 'src/stores/history'
import { useMushStateStore } from 'src/stores/MushStateStore';
import { storeToRefs } from 'pinia';
import { computed } from 'vue'

const historyStore = useHistoryStore();
const stateStore = useMushStateStore();

const { commands } = storeToRefs(historyStore);

const commandsCount = computed(() => {
  const cmds = historyStore.commands.length;
  return cmds == 1 ? cmds + ' command' : cmds + ' commands';
});


</script>

<style scoped>
.item {
  font-size: 9pt;
  font-family: monospace;
  white-space: pre-wrap;
  color: white;
  padding: 2px 5px;
}
</style>
