<template>
  <q-expansion-item icon="groups" label="People" :caption="peopleCount" default-opened>
    <q-list dense class="q-pl-md">
      <q-item v-for="player in people" :key="player.id" class="q-my-sm" :class="{ active: isActive(player.id) }">
        <q-item-section avatar @click="setActivePlayer(player.id)">
          <q-avatar>
            <img :src="player.picture" v-if="player.picture" />
            <q-icon name="person" v-else />
          </q-avatar>
        </q-item-section>
        <q-item-section @click="setActivePlayer(player.id)">
          <q-item-label>{{ player.name }}</q-item-label>
          <q-item-label caption lines="2">{{ player.shortDesc }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-icon name="more_horiz" color="gray" v-if="isTyping(player)">
            <q-tooltip>{{ player.name }} is typing ... </q-tooltip>
          </q-icon>
        </q-item-section>
      </q-item>
    </q-list>
  </q-expansion-item>
</template>

<script setup lang="ts">
import { useEventBus } from 'src/services/EventBus'
import { onMounted, onUnmounted, ref, computed } from 'vue'
import connection from 'src/services/Connection'
import { useMushStateStore } from 'src/stores/MushStateStore';
import { storeToRefs } from 'pinia';

const stateStore = useMushStateStore();

const { activePlayer } = storeToRefs(stateStore);

const people = computed(() => stateStore.players.filter(p => p.id !== stateStore.userId));
// const people = computed(() => stateStore.players);

const eventBus = useEventBus();

type Player = {
  id: string,
  name: string,
  shortDesc?: string,
  picture?: string,
  typingTime?: number
};

function isTyping(player: Player) {
  return player.typingTime && player.typingTime > typingThreshold.value;
}

const typingThreshold = ref<number>(0);

const typingDuration = 10;

let intervalId: NodeJS.Timeout;

onMounted(() => {
  intervalId = setInterval(() => {
    typingThreshold.value = new Date().getTime() / 1000 - typingDuration;
  },
    1000);
});

onUnmounted(() => {
  clearInterval(intervalId);
})

eventBus.on('trigger', (trigger: string) => {
  switch (trigger) {
    case 'room':
      connection.sendMessage('+denvue/scan');
      break;
  }
});

const peopleCount = computed(() => {
  const count = people.value.length;
  if (count < 1) {
    return 'No one is here';
  }
  if (count === 1) {
    return '1 person is here';
  }
  return `${count} people are here`;
});

function isActive(id: string) {
  return id === activePlayer.value;
}

function setActivePlayer(id: string) {
  if (id === activePlayer.value) {
    activePlayer.value = undefined;
  }
  else {
    activePlayer.value = id;
  }
}

</script>

<style scoped>
.active {
  background-color: #555;
}
</style>
