<template>
<q-toggle
        v-model="active"
        color="pink"
        checked-icon="bedtime_off"
        unchecked-icon="bedtime"
        :onClick="onClick"
    >
        <q-tooltip>Wake Lock is {{text}}</q-tooltip>
    </q-toggle>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useWakeLock } from '@vueuse/core'
import { computed, reactive } from 'vue'

const wakeLock = reactive(useWakeLock())

const active = ref<boolean>(false);

const text = computed(()=>wakeLock.isActive?'on':'off');

watch(active, (newState) => {
    if (newState && !wakeLock.isActive) {
        wakeLock.request('screen');
    }
    else if (!newState && wakeLock.isActive) {
        wakeLock.release;
    }
});


function onClick() {
  return wakeLock.isActive ? wakeLock.release() : wakeLock.request('screen')
}

</script>