<template>
  <q-banner class="bg-red text-white" v-if="!connected">
    You are not connected to the server.
    <template v-slot:action>
      <q-btn label="CONNECT" @click="emit('connect')" />
    </template>
  </q-banner>
  <q-bar dense class="bg-grey text-black">
    <q-icon name="link" v-if="connected" />
    <q-icon name="link_off" v-else />
    <div>{{ connectedMessage }}</div>
    <div v-if="userName"><q-icon name="person" /> {{ userName }}</div>
  </q-bar>

</template>


<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['connect']);

const props = defineProps<{
  connected: boolean;
  userName?: string;
}>();

const connectedMessage = computed(() => props.connected ? 'Connected' : 'Not connected');


</script>


<style scoped></style>
