<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <!--q-btn dense flat round icon="menu" @click="toggleLeftDrawer" /-->

        <q-toolbar-title>
          <q-avatar>
            <img src="~assets/shadowrun-logo.png" />
          </q-avatar>
          Shadowrun Denver
        </q-toolbar-title>
        <SleepPreventer/>
        <q-btn dense flat round icon="menu" @click="toggleRightDrawer" />
      </q-toolbar>
    </q-header>

    <!--q-drawer v-model="leftDrawerOpen" side="left" bordered>
    </q-drawer-->

    <q-drawer v-model="rightDrawerOpen" side="right" bordered show-if-above>
      <q-img class="absolute-top dimmed" src="~assets/background.jpg" style="height: 150px">
        <div class="absolute-bottom bg-transparent z-top">
          <q-avatar size="56px" class="q-mb-sm">
            <q-img :src="userPic" />
          </q-avatar>
          <div class="text-weight-bold">{{ userName }}</div>
        </div>
      </q-img>

      <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
        <PlayersCard />
        <HistoryCard />
        <LogsCard />
        <q-space />
        <ChangeLog />
      </q-scroll-area>
      <!-- drawer content -->
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>


  </q-layout>
</template>

<script setup>
import SleepPreventer from 'src/components/SleepPreventer.vue'
import PlayersCard from '../components/PlayersCard.vue'
import HistoryCard from '../components/HistoryCard.vue'
import LogsCard from '../components/logs/LogsCard.vue'
import ChangeLog from '../components/ChangeLog.vue'
import { useMushStateStore } from 'src/stores/MushStateStore'

import { ref } from 'vue'
import { storeToRefs } from 'pinia'

const { userName, userPic } = storeToRefs(useMushStateStore());

const rightDrawerOpen = ref(false)

function toggleRightDrawer() {
  rightDrawerOpen.value = !rightDrawerOpen.value
}
</script>
